.about-project__scale {
  min-height: 36px;

  display: inline-block;

  margin: 0;
  margin-bottom: 14px;
  padding: 9px 0;
  box-sizing: border-box;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media (max-width: 600px) {
  .about-project__scale {
    margin-bottom: 10px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-size: 11px;
    line-height: 13px;
  }
}
