.about-project__title {
  margin: 0;
  margin-bottom: 26px;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

@media (max-width: 600px) {
  .about-project__title {
    margin-bottom: 16px;

    font-size: 18px;
    line-height: 22px;
  }
}
