.navigation__nav-link {
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;

  transition: opacity 0.5s ease;
}

.navigation__nav-link:hover {
  opacity: 0.7;
}

.navigation__nav-link_active {
  font-weight: 500;
}

@media (max-width: 770px) {
  .navigation__nav-link_active {
    text-decoration: underline;
  }
}

@media (max-width: 400px) {
  .navigation__nav-link {
    font-size: 18px;
    line-height: 22px;
  }
}
