.search-form__container {
  max-width: 1140px;

  margin: auto;
  padding: 70px 0 48px;
}

@media (max-width: 900px) {
  .search-form__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 400px) {
  .search-form__container {
    padding-left: 14px;
    padding-right: 14px;
  }
}
