.card {
  background: #2F2F2F;

  margin: 0;
  padding: 6px;

  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  column-gap: 20px;
}

@media (max-width: 400px) {
  .card {
    padding: 0;

    grid-template-columns: 1fr;
    grid-template-rows: 2;
    gap: 0;
  }
}
