.portfolio__container {
  max-width: 1140px;

  margin: auto;
  padding-top: 50px;
  padding-bottom: 125px;
}

@media (max-width: 1200px) {
  .portfolio__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .portfolio__container {
    padding-top: 45px;
    padding-bottom: 90px;
  }
}

@media (max-width: 600px) {
  .portfolio__container {
    padding: 35px 14px 70px;
  }
}
