.footer__container {
  max-width: 1140px;

  margin: auto;
  padding-top: 79px;
  padding-bottom: 20px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  row-gap: 20px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .footer__container {
    padding-left: 37px;
    padding-right: 37px;
  }
}

@media (max-width: 500px) {
  .footer__container {
    padding-left: 10px;
    padding-right: 10px;

    grid-template-columns: max-content;
    grid-template-rows: repeat(3, max-content);
    row-gap: 30px;
    justify-content: center;
  }
}
