.footer__links {
  margin: 0;
  padding: 0;

  list-style: none;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  column-gap: 20px;
}

@media (max-width: 500px) {
  .footer__links {
    grid-auto-flow: row;
    row-gap: 12px;
  }
}
