.techs__title {
  margin: 0;
  margin-bottom: 26px;

  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .techs__title {
    margin-bottom: 22px;
  }
}

@media (max-width: 400px) {
  .techs__title {
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 36px;
  }
}
